    <!-- Footer -->
    
    <footer class="glass-effect mt-20 p-8">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
            <div>
                <h3 class="text-xl font-bold mb-4">DSNTV</h3>
                <p class="text-white/70">Votre source de contenu en ligne pour rester à la pointe de l'actualité.</p>
            </div>
        
            <div>
                <h3 class="text-lg font-bold mb-4">Liens</h3>
                <ul class="space-y-2">
                    <li><a href="{{ path('legal_notice') }}" class="text-white/70 hover:text-white">Mentions légales</a></li>
                    <li><a href="{{ path('terms_of_use') }}" class="text-white/70 hover:text-white">Conditions d'utilisation</a></li>
                    <li><a href="{{ path('privacy_policy') }}" class="text-white/70 hover:text-white">Politique de confidentialité</a></li>
                    <li><a href="{{ path('app_cookie_policy') }}" class="text-white/70 hover:text-white">Politique & Gestion des cookies</a></li>
                    <li><a href="{{ path('app_project_submission') }}" class="text-white/70 hover:text-white">Contact</a></li>
                </ul>
            </div>
        
            <div>
                <h3 class="text-lg font-bold mb-4">Suivez-nous</h3>
                <div class="flex space-x-4">
                    <a href="https://www.youtube.com/@dsntv1839" class="text-white/70 hover:text-white text-2xl"><i class="ri-youtube-fill"></i></a>
                    <a href="https://x.com/dsntva" class="text-white/70 hover:text-white text-2xl"><i class="ri-twitter-x-fill"></i></a>
                    <a href="#" class="text-white/70 hover:text-white text-2xl"><i class="ri-instagram-fill"></i></a>
                    <a href="#" class="text-white/70 hover:text-white text-2xl"><i class="ri-twitch-fill"></i></a>
                </div>
            </div>
        </div>
    
        <div class="container mx-auto mt-8 pt-8 border-t border-white/10 text-center text-white/50">
            <p>© 2025 DSNTV. Tous droits réservés.</p>
        </div>
    </footer>